{% extends "templates/base.j2" %}

{% block content %}
  <div  ng-app="sabor2015" ng-controller="sabor2015ctrl">
    <cookiebar></cookiebar>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="row text-center">
                    <progress-chart></progress-chart>
                </div>
            </div>

            <div id="login" class="col-sm-8">
                <div class="well">
                    <h2>Sabor 2015</h2>

                    <p class="lead">Prijavite se putem Facebooka, glasajte i saznajte kako će vaši prijatelji glasati na izborima za zastupnike u Hrvatski sabor 2015. godine. Cilj nam je skupiti 10000 glasova. Za konačan ishod su najvažniji iskreni odgovori korisnika, a ne ukupan broj glasova za pojedinu opciju.
                    </p>
                    <a class="btn btn-lg btn-default"
                       href="{{ url }}" role="button">
                        Prijavite se putem Facebooka
                    </a>
                   <!-- <a href="https://www.facebook.com/dialog/share?app_id={{ request.registry.settings['facebook.app_id'] }}&display=popup&href={{ (request.registry.settings['facebook.share.href']+'?ref=fb,'+request.reference_token|string)|e }}&redirect_uri={{ request.registry.settings['facebook.share.redirect_uri']|e }}" target="_blank" onClick="return fbs_click(400, 300)">Share on facebook</a> -->
                   <!-- <div class="fb-like" data-href="https://sabor2015.hr" data-width="10px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div> -->
                   <!-- <div class="fb-share-button" data-href="https://sabor2015.hr" data-layout="button_count"></div>	-->
                </div>

                <p>Ukupni broj glasova: <span class="badge votes-all">{{ user_count }}</span>
                <span class="text-muted">(osvježavanje svakih 5 minuta)</span><br>
                Rezultate mogu vidjeti samo registrirani korisnici.
                </p>

                <!-- {% include "templates/disclaimer.j2" %} -->

            </div>

        </div>
    </div>

    <div class="container">
        {% for m in messages %}

        <news date="{{ m.date|e }}" title="{{ m.title|e }}" text="{{ m.text|e }}"></news>

        {% endfor %}
    </div>

    <div class="container">

        <h1>Uspjeh Facebook ankete!</h1>

        <p>Datum: 9.11.2015.</p>

        <p>Online ankete se uobičajeno uzimaju kao vrlo nepouzdane, podložne iskrivljenim uzorcima anketiranih i bez pravog značaja za ozbiljna predizborna istraživanja. Našom facebook anketom željeli smo testirati hipotezu da bi se postavljanjem još jednog pitanja, osim uobičajenog pitanja za koga bi glasali, moglo doći do nekog stvarnog stanja popularnosti najjačih stranaka. Odlučili smo se da dodatno „meta pitanje“ bude procjena postotka glasova koje će osvojiti stranka za koju anketirana osoba želi glasati. Zatim bi koristeći matematičke alate napravili analizu kroz koju bi pronašli najobjektivnije procjenitelje uspjeha stranaka.</p>

        <p>Iako u takvom pristupu nije najvažnije imati reprezentativni uzorak po dobi, obrazovanju i slično, vrlo je važno skupiti dovoljno velik uzorak glasača po izbornim jedinicama za sve sve stranke od interesa kako bi se u njima pronašlo dovoljno dobrih procjenitelja uspjeha stranaka. No, iako nismo dosegli naš cilj od 10.000 anketiranih, već je skupljenih 6.000 bilo dovoljno za napraviti ovaj zanimljiv eksperiment. Nakon uklanjanja sumnjivih glasova i ekstremnih prenapuhavanja uspjeha pojediniih stranaka, odredili smo medijan procjene anketiranih i dobili vrlo zanimljivu krelaciju s posljednjom od predizobrnih anketa (Ipsos Puls).</p>

        <p>Budući da su anketirani sustavno precjenjivali uspjeh svojih stranaka, naknadno smo renormalizirali te procjene na sumu od 100% (procjene su objavljene na našoj facebook stranici u petak navečer, prije izbora), te tako dobili još bolje slaganje s anketom. A sada možemo usprediti sve to s rezultatima izbora – grafikon prikazuje usporedbu predviđanja facebook ankete za HDZ, SDP i MOST s rezultatima izbora, gdje svaka točka predstavja po jednu izbornu jedinicu. Budući da nemamo neku usuglašenu metodu procjene pogreške naše facebook anekte, uzeli smo pogrešku od 4% (to bi odgovaralo klasičnoj anketi na 600 ispitanika).</p>

        <p>Iz grafikona se mogu izvesti dva važna zaključka:</p>

        <p>1. Ovo je dokaz da se dodavanjem meta pitanja i dobrim odabirom matematičke analize rezultata online anketa može pretvoriti u relevantan izvor informacija o popularnosti najjačih stranaka.</p>

        <p>2. Naša anketa uspjela je uhvatiti rast popularnosti MOST-a, što je vrlo važno u ovakvim istraživanjima budući da se radi o stranci kojoj je popularnost rasla jako brzo neposredno prije izbora.</p>

        <p>Idućih tjedana i mjeseci predstoji nam još puno analiza prikupljenih podataka, a ovi rezultati nas motiviraju da nastavimo s daljnjim istraživanjem i unaprjeđivanjem metode.</p>

        <img src="{{ request.static_url('sabor2015:static/images/facebook-usporedba-s-rezultatima-izbora.png') }}" width="700">


        <h1>Analiza rezultata ankete</h1>

        <p>Datum: 6.11.2015.</p>

        <p>Prije svega zahvalili bi svima koji su sudjelovali u ovoj anketi, svima koji su nam ukazali na propuste i pomogli da bolje pojasnimo.</p>

        <p>Cilj ovoga istraživanja je bilo utvrditi da li se opće ovakvim načinom anketiranja može dobiti relevantno istraživanje. Svjesni problema i mogućnosti anomalija online anketa pokušali smo dodatnim meta pitanjem o procjeni svakoga glasača o postotku glasova za njegovu jedinicu i dodatnim informacija o pojedinom profilu smanjiti te anomalije. Da bismo uspješno eliminirali sve anomalije bilo nam je potrebno barem 10000 glasova od toga oko 1000 po svakoj izbornoj jedinici. Anketu je ispunilo 6000 korisnika od čega 1500 u prvoj izbornoj jedinici i po otprilike oko 500 po svakoj izbornoj jedinici u Hrvatskoj, 100 u dijaspori i nekoliko manjinskih.</p>

        <p>Iako nismo uspjeli skupiti planirani broj glasača, rezultat je zadovoljavajući. Ono čime nismo nikako zadovoljni je činjenica da uzorak nije reprezentativan je očito da birači Domoljubne koalicije nisu izašli u očekivanom broju dok su birači Mosta, Živog zida i stranke Pametno izašli u puno većom broju.</p>

        <p>S obzirom da je očito broj glasova ne predstavlja realnu sliku, istražili smo mogućnost što možemo dobiti s meta pitanjem. Nakon uklanjanja sumnjivih glasova i ekstreman usporedili smo medijan procjene anketiranih s anketom koju je objavila agencija Ipsos puls za Novu TV. Uzeli smo u obzir samo 4 liste Domoljubnu koaliciju, Hrvatska raste, Most i Živi zid. Za ostale stranke nismo imali informacije za većinu izbornih jedinica. Za Živi zid nismo imali samo za prvu, no odlučili smo ju ipak prikazati.</p>

        <p>Zanimljivo je vidjeti da za HDZ i SDP postoji dosta dobro poklapanje rezultata dok za Most je to nešto manje (npr. izrazito veći optimizam u 9., a pesimizam u 1.), a zanimljivo je da su birači Živog zida u svim izbornim jedinicama osim u 10-toj predvidjeli jednak broj glasova.</p>

        <p>Iz ovih podataka možemo vidjeti da birači većine stranaka imaju procjenu koja se slično ponaša kao i ankete uz veća ili manja odstupanja i birači svih opcija su bili optimističniji od stvarnih rezultata. Napomena je da su ovo samo korelacija, a vama ostavljamo da procijenite tko ima bolji osjećaj vi koji ste glasali ili građani koji su dali glas u anketi.</p>

        <p>Hvala vam još jednom svima. Mi ćemo imati puno podataka za razna znanstvena istraživanja koja ćemo sigurno objaviti u prestižnim međunarodnim časopisima. Bez vas to ne bismo mogli uspjeti.</p>

        <p>Željeli bi poručiti svima da izađu na izboru u što većem broju.</p>

        <p>Pozdrav do možda neke druge anketa, ali sigurno je da to neće biti tako skoro makar se izbori ponovili.</p>

        <img src="{{ request.static_url('sabor2015:static/images/HDZ_v2.png') }}" width="700">
        <img src="{{ request.static_url('sabor2015:static/images/SDP_v2.png') }}" width="700">
        <img src="{{ request.static_url('sabor2015:static/images/Most_v2.png') }}" width="700">
        <img src="{{ request.static_url('sabor2015:static/images/Zivi_zid_v2.png') }}" width="700">

    </div>
    
  </div>

    <hr/>
    <br/>
{% endblock %}
