{% extends "templates/base.j2" %}

{% block facebookpixel %}
fbq('track', 'Lead');
{% endblock %}

{% block scripts %}
    <script src="{{ request.static_url('sabor2015:static/js/lodash.min.js') }}"></script>
    <script src="{{ request.static_url('sabor2015:static/js/bootstrap-slider.js') }}"></script>
    <script src="{{ request.static_url('sabor2015:static/bootstrap-multiselect/bootstrap-multiselect.js') }}"></script>
    <link rel="stylesheet" href="{{ request.static_url('sabor2015:static/bootstrap-multiselect/bootstrap-multiselect.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ request.static_url('sabor2015:static/css/bootstrap-slider.css') }}" type="text/css" media="all" />
    <script>
    // TODO: I EXPECT THIS TO BE INJECTED BY THE SERVER PLEASE!
    document.cookie = "csrf_token={{ request.session.get_csrf_token() }}";
    var user_id = {{ request.user.id }};
    </script>
{% endblock %}

{% block content %}
<div ng-app="sabor2015" ng-controller="sabor2015ctrl">

  <!-- After succesful login load user data -->
  <!-- <load-user-data></load-user-data> -->
  <load-all-data></load-all-data>

  <div class="container">
    <div class="row text-center">
      <!-- <img src="../images/logo-sabor2015.png" alt="sabor2015.hr" class="header-logo" /> -->
        <progress-chart></progress-chart>
    </div>
  </div>

  <hr />

  <div class="container">

    <div class="row">

    <h2>Pitanja</h2>

      <div class="col-md-6">
        <h3>Iz koje ste izborne jedinice?</h3>
        <p>(službene stranice <a href="https://biraci.gov.hr/RegistarBiraca/" target="_blank">DIP-a</a> i interaktivna <a href="mape" target="_blank">karta</a> )</p>
        <!-- <regions url="api/regions"></regions> -->
        <regions></regions>
      </div>

      <div class="col-md-6">
        <h3>Za koga ćete glasati na izborima?</h3>
        <!-- <question-list url="api/election/regions"></question-list> -->
        <question-list></question-list>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Procjenite udio glasova koji će vaša lista osvojiti u vašoj izbornoj jedinici.</h3>
        <question-meta></question-meta>
      </div>
    </div>

    <button-vote></button-vote>

    <hr/>

    <results id="results" style="display:none;">

      <div class="row">
        <div class="col-md-12">

          <h2>Stranke koje simpatizirate</h2>
          <p>Odaberite sve stranke koje simpatizirate:</p>
          <!-- <question-extra url="api/parties"></question-extra> -->
          <question-extra></question-extra>

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <h2>Rezultati za vaše prijatelje</h2>
          <p id="friend-count-label">Ukupno je <span class="badge votes-friends">{{ friend_count }}</span> vaših prijatelja glasalo. <span id="friend-rank-label">To vas stavlja na <span class="badge rank-friends">{{ rank_friends }}.</span> mjesto po broju prijatelja.</span></p> 
          <p id="reach-count-label">Ukupno je <span class="badge shares-friends">{{ reach }}</span> korisnika došlo preko vašeg sharea na ovu aplikaciju. <span id="reach-rank-label">To vas stavlja na <span class="badge rank-shares">{{ reach_rank }}.</span> mjesto po utjecaju na korisnike.</span></p>

          <a class="btn btn-default" href="https://www.facebook.com/dialog/share?app_id={{ request.registry.settings['facebook.app_id'] }}&display=popup&href={{ (request.registry.settings['facebook.share.href']+'?ref=fb,'+request.reference_token|string)|e }}&redirect_uri={{ request.registry.settings['facebook.share.redirect_uri']|e }}" target="_blank" onClick="return fbs_click(400, 300)"><i class="fa fa-facebook">  Podijeli s prijateljima</i></a>

          <statistics-of-friends-circle colors="colorfull"></statistics-of-friends-circle>

          <h2>Rezultati za sve korisnike</h2>
          <p>Ukupno je <span class="badge votes-all">{{ vote_count }}</span> korisnika glasalo.</p>
          <statistics-global-circle colors="colorfull"></statistics-global-circle>

          <h2>Broj glasova u vremenu</h2>
          <votes-in-time></votes-in-time>

          <h2>Rezultati za sve korisnike u vašoj izbornoj jedinici</h2>
          <p>Ukupno je <span class="badge votes-region"></span> korisnika glasalo u vašoj izbornoj jedinici.</p>
          <statistics-region-circle colors="colorfull"></statistics-region-circle>

          <p><span class="text-muted">(Rezultati se osvježavaju svakih 5 minuta.)</span></p>
          <p><span class="text-muted">(Liste koje su zajedno skupile manje od 10% glasova su sumirane u kategoriju "ostali".)</span></p>
          <p><span class="text-muted">(Potrebno je barem 5 glasova da bi se prikazale statistike za pojedinu kategoriju.)</span></p>
          <p><span class="text-muted">(Možete glasati više puta, ali samo se zadnji glas ubraja u statistiku.)</span></p>

        </div>
      </div>

    </results>

  </div>

</div>
</div>
{% endblock %}
