{% extends "base_text.j2" %}
{% block content %}
<div ng-app="sabor2015" ng-controller="sabor2015ctrl">

<div class="container">   
  <div class="row text-center">
    <progress-chart></progress-chart>
  </div>
</div>
</div>

<hr />
  <div class="container">
    <div class="row">
      <div class="col-md-12">

         <h2>Greška :(</h2>
         
         <p>Ispričavamo se na neugodnosti.</p>
         <p>Ukoliko ste na ovu stranicu došli putem linka, prijavite grešku na sabor2015.hr@gmail.com</p>
         <p>Posjeti početnu stranicu <a href="https://sabor2015.hr">sabor2015.hr</a></p>

      </div>
    </div> 
  </div>
{% endblock %}
