<h2>O projektu</h2>
<p>
U svrhu znanstvenog istraživanja prikupljamo podatke o izborima za Hrvatski sabor 2015. godine u Republici Hrvatskoj putem društvene mreže Facebook. Cilj je istraživanja utvrditi mogu li rezultati Facebook ankete biti svojom preciznošću sumjerljivi rezultatima tradicionalnih anketa te utvrditi kako međusobna poznanstva utječu na širenje informacija i stavove korisnika. Za više informacija pratite nas na našoj Facebook stranici <a href="https://www.facebook.com/sabor2015">https://www.facebook.com/sabor2015</a>.
</p>
<p>
        <p>
          <a class="btn btn-default" href="faq" target="_blank" role="button">
            Često postavljana pitanja
          </a>
          <a class="btn btn-default" href="pravila_privatnosti" target="_blank" role="button">
            Pravila privatnosti
          </a>
          <a class="btn btn-default" href="uvjeti_koristenja" target="_blank" role="button">
            Uvjeti korištenja
          </a>
        </p>
    </a>
</p>
