<h2>Autori projekta</h2>
<p>Ovaj se projekt provodi u sklopu znanstvenog istraživanja na temu širenja informacija na društvenim mrežama pod vodstvom izv. prof. dr. sc. <a href="http://www.fer.unizg.hr/mile.sikic">Mile Šikića</a>. U izgradnji web sustava za prikupljanje podataka sudjelovali su <a href="https://www.linkedin.com/in/mladenmarinovic">Mladen Marinović</a>, <a href="http://www.irb.hr/Ljudi/Matija-Piskorec">Matija Piškorec</a> i <a href="http://www.linkedin.com/pub/iva-miholi%C4%87/54/3b5/a50">Iva Miholić</a>. Suradnici za analizu rezultata ankete su <a href="http://vinkovic.org/">Dejan Vinković</a> i <a href="http://www.vukvukovic.org/ ">Vuk Vuković</a>. Suradnik za analizu širenja informacija i mreže prijateljstava je <a href="http://www.irb.hr/Ljudi/Nino-Antulov-Fantulin">Nino Antulov-Fantulin</a>. Suradnik za marketing je <a href="http://fb.me/br">Bruno Rahle</a>. Projekt je financiran iz vlastitih sredstava autora projekta. Kontakt osoba: Mile Šikić, sabor2015.hr@gmail.com
</p>
