<!DOCTYPE html>
<html lang="hr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <meta name="description" content="Anketiranje hrvatskih korisnika Facebooka o parlamentarnim izborima 2015. godine.">
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta id="mediaSlideKeywords" name="keywords" content="sabor, 2015, izbori"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sabor2015.hr</title>

    <link rel="shortcut icon" href="{{ request.static_url('sabor2015:static/images/sabor2015-favicon.ico') }}" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ request.static_url('sabor2015:static/css/base.css') }}" type="text/css" media="all" />

    <script src="{{ request.static_url('sabor2015:static/js/angular.min.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

    <script src="{{ request.static_url('sabor2015:static/js/functions.js') }}"></script>

    <script>var user_count = {{request.redis.get('user_count') or 14}};</script>
    <script>var vote_count = {{request.redis.get('vote_count') or 13}};</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69496752-1', 'auto');
  ga('require', 'linkid');
  ga('send', 'pageview');

</script>

    {% block scripts %}{% endblock %}
</head>
<body>
{% block header %}
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" >sabor2015.hr</a>
            </div>
            <nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation" style="height: 1px;">
                {% if request.user is not none %}
                <div class="nav navbar-nav navbar-right">
                    <a class="btn btn-default navbar-btn navbar-right" href="{{ request.route_path('oauth:logout') }}">Odlogiraj se, {{ request.user.name }}</a>
                </div>
            {% endif %}
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}

<hr />
</body>
</html>
