<!DOCTYPE html>
<html lang="hr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <meta name="description" content="Anketiranje hrvatskih korisnika Facebooka o parlamentarnim izborima 2015. godine.">
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta id="mediaSlideKeywords" name="keywords" content="sabor, 2015, izbori"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sabor2015.hr</title>

    <meta property="og:title" content="Sabor 2015" />
    <meta property="og:description" content="Prijavite se putem Facebooka, glasajte i saznajte kako će vaši prijatelji glasati na izborima za Hrvatski sabor 2015. godine!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sabor2015.hr" />
    <meta property="og:image" content="{{ request.static_url('sabor2015:static/images/sabor2015-logo-share.png') }}" />
    <meta property="og:site_name" content="Sabor2015.hr" />
    <meta property="fb:app_id" content="{{ request.registry.settings['facebook.app_id'] }}" />

    <link rel="shortcut icon" href="{{ request.static_url('sabor2015:static/images/sabor2015-favicon.ico') }}" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ request.static_url('sabor2015:static/css/base.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" />
    <script src="{{ request.static_url('sabor2015:static/js/angular.min.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

    <script src="{{ request.static_url('sabor2015:static/js/functions.js') }}"></script>

    <script src="{{ request.static_url('sabor2015:static/js/jquery.cookiebar.js') }}"></script>
    <link rel="stylesheet" href="{{ request.static_url('sabor2015:static/css/jquery.cookiebar.css') }}" type="text/css" media="all" />

    <script>var user_count = {{ request.redis.get('user_count') or 11}};</script>
    <script>var vote_count = {{ request.redis.get('vote_count') or 12}};</script>
    <script type="text/javascript">
    function fbs_click(width, height) {
        var leftPosition, topPosition;
        //Allow for borders.
        leftPosition = (window.screen.width / 2) - ((width / 2) + 10);
        //Allow for title and status bars.
        topPosition = (window.screen.height / 2) - ((height / 2) + 50);
        var windowFeatures = "status=no,height=" + height + ",width=" + width + ",resizable=yes,left=" + leftPosition + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY=" + topPosition + ",toolbar=no,menubar=no,scrollbars=no,location=no,directories=no";
        u=location.href;
        t=document.title;
        window.open("https://www.facebook.com/dialog/share?app_id={{ request.registry.settings['facebook.app_id'] }}&display=popup&href={{ (request.registry.settings['facebook.share.href']+'?ref=fb,'+request.reference_token|string)|e }}&redirect_uri={{ request.registry.settings['facebook.share.redirect_uri']|e }}",'sharer', windowFeatures);
        return false;
    }
    </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69496752-1', 'auto');
  ga('require', 'linkid');
  ga('send', 'pageview');

</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '1467661770199109');
fbq('track', "PageView");
{% block facebookpixel %}{% endblock %}
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1467661770199109&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

{% block scripts %}{% endblock %}
</head>
<body>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/hr_HR/sdk.js#xfbml=1&version=v2.5&appId=444691295637078";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% block header %}
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" >sabor2015.hr</a>
            </div>
            <nav class="navbar-collapse bs-navbar-collapse collapse navbar-right" role="navigation" style="height: 1px;">
                <div class="nav navbar-nav navbar-right">
<a class="btn btn-default navbar-btn" href="https://www.facebook.com/dialog/share?app_id={{ request.registry.settings['facebook.app_id'] }}&display=popup&href={{ (request.registry.settings['facebook.share.href']+'?ref=fb,'+request.reference_token|string)|e }}&redirect_uri={{ request.registry.settings['facebook.share.redirect_uri']|e }}" target="_blank" onClick="return fbs_click(400, 300)"><i class="fa fa-facebook">  Podijeli s prijateljima</i></a>
                   {% if request.user is not none %}
                   <a class="btn btn-default navbar-btn" href="{{ request.route_path('oauth:logout') }}">Odlogiraj se, {{ request.user.name }}</a>
                   {% endif %}
                <!-- </div> -->
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}

<hr />
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% include "templates/about.j2" %}

            </div>
            <div class="col-md-6">
                {% include "templates/authors.j2" %}
            </div>
        </div>
    </div>
<hr />
</body>
</html>
