<div class="panel panel-default">
    <div class="panel-body text-disclaimer">
        <h5>
            <small>
                <p class="muted">U svrhu ovoga istraživanja prikupljamo
                    podatke o vašem stavu o referendumskom pitanju, kao i određene
                    podatke s Facebooka (Facebook identifikacijski broj, godinu rođenja, lokaciju, spol i popis vaših
                    prijatelja), čime želimo dobiti uvid u načine kako međusobna
                    poznanstva utječu na stavove korisnika Facebooka. Vaš
                    individualni odgovor na referendumsko pitanje i podaci o vašem
                    profilu neće biti vidljivi drugim korisnicima, već će samo biti
                    vidljiv anonimni prosjek odgovora. Jedino ćete vi vidjeti
                    prosjek odgovora vaših prijatelja. Istraživači garantiraju da
                    prikupljeni podaci neće biti korišteni ni u koje druge svrhe
                    osim znanstveno-istraživačke. Prijavom na ovaj upitnik
                    potvrđujete da ste suglasni s ovim pravilima korištenja.</p>
            </small>
        </h5>
    </div>
</div>