{% extends "base_text.j2" %}
{% block content %}
<div ng-app="sabor2015" ng-controller="sabor2015ctrl">

<div class="container">   
  <div class="row text-center">
    <!-- <img src="../static/images/logo-sabor2015.png" alt="sabor2015.hr" class="header-logo" /> -->
    <progress-chart></progress-chart>
  </div>
</div>
</div>

<hr />
  <div class="container">
    <div class="row">
      <div class="col-md-12">
 <h1>Često postavljana pitanja</h1>
        <h2>Zašto vam trebaju traženi podaci i tko sve ima pristup podacima?</h2>
        <p>Traženi osobni podaci nam trebaju kako bi razvrstali korisnike u skupine po lokaciji, spolu i godištu. Podatke o prijateljima koristimo za istraživanje kako se informacija o izborima širi kroz mrežu Facebook prijateljstava. Podacima imaju pristup isključivo istraživači i niti jedan privatan podatak neće biti javno dostupan. Vaš individualni odgovori i podaci o vašem profilu neće biti vidljivi drugim korisnicima, već će samo biti vidljiv anonimni prosjek odgovora.</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <h2>Zašto zahtijevate Facebook račun da bi se moglo glasovati?</h2>
        <p>Glavni razlog je što nam Facebook omogućuje podatke o prijateljstvima i što smo tako sigurni da za svakog korisnika uzimamo samo jedan glas. Također, prikupljanjem glasova bez autorizacije ne bi mogli rekonstruirati kako se informacija o izborima širila kroz mrežu prijateljstava, što je jedan od ciljeva našeg znanstvenog istraživanja.</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <h2>Što je s privatnošću podataka?</h2>
        <p>Svi podaci su anonimizirani i pohranjuju se na server preko kriptirane sigurne veze. Za detalje, pogledajte naša <a href="pravila_privatnosti" target="_blank">pravila privatnosti</a>.</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <h2>Favorizirate li koje političke opcije ili medijske kuće?</h2>
        <p>Autori u ovome istraživanju ne favoriziraju niti jednu političku opciju. Pri objavi rezultata ankete istraživači neće favorizirati niti jedan medij i medijsku kuću.</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <h2>Što se dogodi nakon što pristupim vašoj aplikaciji?</h2>
        <p>Nakon što date suglasnost za korištenje podataka, sustav će vam prikazati anketu o izborima koju možete ispuniti. Nakon ispunjavanja ankete sustav će vam prikazuje statistike glasanja vaših prijatelja koji su također ispunili anketu. Za detalje pogledajte naše <a href="uvjeti_koristenja" target="_blank" >uvjete korištenja</a>.</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <h2>Pokušavate li predvidjeti rezultate izbora?</h2>
        <p>Jedan od ciljeva istraživanja je utvrditi je li moguće napraviti Facebook anketu čiji će rezultati biti svojom preciznošću sumjerljivi rezultatima tradicionalnih anketa. No ovo istraživanje je eksperimentalno i ne može biti zamjena za tradicionalne ankete i njegovi rezultati ne moraju odgovarati stvarnom raspoloženju birača.</p>
      </div>
    </div>

  </div>
{% endblock %}
