{% extends "base.j2" %}
{% block scripts %}
<link rel="stylesheet" href="{{ request.static_url('sabor2015:static/css/leaflet.css') }}" type="text/css" media="all" />
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
<script src="//maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
<script src="{{ request.static_url('sabor2015:static/js/leaflet-local.js') }}"></script>
<script src="//cdn.bootcss.com/fuse.js/1.2.2/fuse.min.js"></script>
<script src="{{ request.static_url('sabor2015:static/js/mape.js') }}"></script>
{% endblock %}

{% block content %}
<!-- Everything inside this div has an access to global state of the application -->
<div ng-app="sabor2015" ng-controller="sabor2015ctrl">

<div class="container">   
  <div class="row text-center">
    <!-- <img src="../static/images/logo-sabor2015.png" alt="sabor2015.hr" class="header-logo" /> -->
    <progress-chart></progress-chart>
  </div>
</div>

<hr />

<div class="container">

  <div class="row">
    <h2>Pretraga po lokaciji</h2>
    <p>Unesite svoje mjesto, općinu, grad ili mjesni odbor (za Zagreb):</p>
    <find-region url="api/election/regions/locations"></find-region>
  </div>
  
  <hr/>
  
  <div class="row">
    <div class="col-md-6">
      <img src="../static/images/izborne-labele.png" style="height: 501px; width: 500px"/>
    </div>
    <div class="col-md-6">
      <div id="map" style="height: 500px; width: 500px" class="row text-center"></div>
    </div>
  </div>

</div>

</div> <!-- <div ng-app="sabor2015" ng-controller="sabor2015ctrl"> -->
{% endblock %}
