{% extends "base_text.j2" %}
{% block content %}
<div ng-app="sabor2015" ng-controller="sabor2015ctrl">

<div class="container">   
  <div class="row text-center">
    <!-- <img src="../static/images/logo-sabor2015.png" alt="sabor2015.hr" class="header-logo" /> -->
    <progress-chart></progress-chart>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">

      <h2>Pravila privatnosti</h2>

      <p>1. Web servis sabor2015.hr (u daljnjem tekstu Servis) koristi kolačiće za pružanje boljeg korisničkog iskustva. Nastavkom korištenja Servisa slažete se s korištenjem kolačića.</p>

      <p>2. Servis će za svakog korisnika uz prethodno dopuštenje pohraniti:</p>

      <ul style="list-style-type:none">

        <li>2.1. Odgovori korisnika na anketu o izborima</li>

        <ul>

          <li>izborna jedinica</li>
          <li>izborna lista stranaka za koju će korisnik glasati na izborima</li>
          <li>lista stranaka koje korisnik simpatizira</li>
          <li>postotak za koji korisnik očekuje da će stranka koju podržava osvojiti na izbora</li>
          <li>vrijeme glasovanja</li>

        </ul>

        <li>2.2. Facebook podaci</li>

        <ul>
          <li>Facebook identifikacijski broj,</li>
          <li>godina rođenja,</li>
          <li>lokacija,</li>
          <li>spol,</li>
          <li>popis anonimiziranih identifikatora prijatelja koji već koriste naš Servis,</li>
          <li>preusmjeravajući link – link s koje stranice je došao korisnik pri registraciji</li>
        </ul>

      </ul>

      <p>Prikupljanje Facebook podataka ide isključivo preko službenih Facebook sučelja i u skladu je sa svim pravilima za zaštitu privatnosti korisnika: <a href="https://developers.facebook.com/policy/">https://developers.facebook.com/policy/</a>.</p>

      <p>Anonimizirani Facebook identifikacijski broj jedinstven je za pojedinog korisnika i ovaj Servis te se na osnovu njega ne može doći do stvarnog Facebook računa korisnika. Ne pohranjujemo podatke vezane uz račun korisnika poput email adrese ili imena i prezimena.</p>

      <p>3. Vidljivost i korištenje podataka</p>

        <ul style="list-style-type:none">

          <li>3.1. Vaši pojedinačni odgovori na anketu o izborima (2.1.) i podaci s vašeg Facebook profila (2.2) neće biti vidljivi drugim korisnicima Servisa.</li>
          <li>3.2. Vaši prijatelji koji koriste Servis mogu vidjeti samo sumarne glasove svojih Facebook prijatelja (2.1), i to samo onih koji su također korisnici Servisa. Nijedan korisnik Servisa nemaju informaciju kako je i tko od njegovih prijatelja glasovao.</li>
          <li>3.3. Sumarna statistika glasova (2.1.) preko svih korisnika Servisa može postati javno dostupna.</li>
          <li>3.4. Istraživači će koristiti anonimizirane i sumarne podatke (2.1.) i (2.2.) za znanstvene istraživanja, te će kao takvi biti dostupni znanstvenoj zajednici.</li>

        </ul>

      <p>4. Sva komunikacija s našim Servisom, bazom podataka i Facebook serverom ide preko kriptirane sigurne veze.</p>

      </div>
    </div>
   
{% endblock %}
