{% extends "base_text.j2" %}
{% block content %}
<div ng-app="sabor2015" ng-controller="sabor2015ctrl">

<div class="container">   
  <div class="row text-center">
    <!-- <img src="../static/images/logo-sabor2015.png" alt="sabor2015.hr" class="header-logo" /> -->
    <progress-chart></progress-chart>
  </div>
</div>
</div>

  <hr />
  <div class="container">
    <div class="row">
      <div class="col-md-12">

      <h2>Uvjeti korištenja</h2>

      <p>1. U slučaju korištenja domene i njenih poddomena sabor2015.hr (dalje u tekstu: „web servis”) te pripadajućeg sadržaja Korisnik izričito pristaje na uporabu web servisa u skladu s ovim Općim uvjetima korištenja.</p>

      <p>2. Web servis pridržava pravo promjene, ograničenja ili prestanak pružanja usluge web servisa u svako doba.</p>

      <p>3. Korisnik glasovanjem na našem web servisu pristaje dijeli sljedeće podatke:</p> 
      <ul style="list-style-type:none">

        <li>3.1. Podaci o izborima</li>

          <ul>

            <li>podatak o izbornoj jedinici </li>
            <li>strankama koje podražava na izborima</li>
            <li>postotku za koji korisnik očekuje da će stranka koju podržava osvojiti na izbora</li>
            <li>vrijeme glasovanja</li>

          </ul>

        <li>3.2. Facebook podatke</li>

        <ul>

          <li>anonimizirani Facebook identifikacijski broj,</li>
          <li>godina rođenja, </li>
          <li>lokacija, </li>
          <li>spol,  </li>
          <li>popis anonimiziranih identifikatora prijatelja koji već koriste našu aplikaciju,</li>
          <li>preusmjeravajući link – link s koje stranice je došao korisnik pri registraciji</li>

        </ul>

      </ul>

      <p>Podaci o Facebook profilu prenose se sigurnim putem preko službenog Facebook API-a (<a href="https://developers.facebook.com/">https://developers.facebook.com/</a>).</p>

      <p>4. Svi korisnici mogu svoje podatke iz aplikacije slobodno dijeliti.</p>

      <p>5. Istraživači garantiraju da prikupljeni podaci neće biti korišteni ni u koje druge svrhe osim znanstveno-istraživačke. </p>

      <p>6. Pri objavi rezultata ankete istraživači neće favorizirati niti jedan medij i medijsku kuću.</p>

      <p>7. Istraživači zadržavaju pravo javne objave anonimiziranih statistika i podataka u znanstvenim časopisima i na znanstvenim konferencijama (vidi <a href="pravila_privatnosti">pravila o privatnosti</a>).</p>

      <p>8. Sve statistike i informacije na našoj stranici su informativnog karaktera i autori ne odgovaraju za eventualne posljedice.</p>

      <p>9. Autori u ovome istraživanju ne favoriziraju niti jednu političku opciju.</p>

      <p>10. Ovo istraživanje je eksperimentalno i ne može biti zamjena za tradicionalne ankete i njegovi rezultati ne moraju odgovarati stvarnom raspoloženju birača.</p>

      </div>
    </div>
   
    
  </div>

{% endblock %}
