###
# app configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/environment.html
###

[app:main]
use = egg:sabor2015

filter-with: proxy-prefix

pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =
    pyramid_tm
    pyramid_jinja2
    pyramid_redis_sessions
    pyramid_celery
    pyramid_redis
{% if server_debug_toolbar == true %}
    pyramid_debugtoolbar
{% endif %}

sqlalchemy.url = postgres://{{ pg_sabor2015_user }}:{{ pg_sabor2015_password }}@172.17.42.1:{{ pbuncer_port }}/{{ pg_sabor2015_dbname }}

######################################################
# Sabor2015
######################################################
sabor2015.global_treshold = 5
sabor2015.region_treshold = 5
sabor2015.friend_treshold = 5
sabor2015.load_testing = {{ server_load_testing }}

######################################################
# Facebook
######################################################

facebook.app_id = {{ facebook_app_id }}
facebook.secret_key = {{ facebook_secret_key }}
facebook.namespace = {{ facebook_namespace }}
facebook.scope = {{ facebook_scope }}
facebook.authorization_base_url = {{ facebook_authorization_base_url }}
facebook.token_url = {{ facebook_token_url }}
facebook.redirect_uri = {{ facebook_redirect_uri }}

facebook.share.link = {{ facebook_share_link }}
facebook.share.href = {{ facebook_share_href }}
facebook.share.redirect_uri = {{ facebook_share_redirect_uri }}

######################################################
# Redis
######################################################

# session settings
redis.sessions.secret = BUvZ3VODUvoViF9LY6agFL6tn9LMcZkXmbY3RnrgsVMiFx1922XzkdYBzEbFxD5ksFFZfblmXNZm4R5j
redis.sessions.timeout = 3600
redis.sessions.url = redis://172.17.42.1:6379/0

# cashing settings
redis.url = redis://172.17.42.1:6379/1
redis.db = 1

# locking settings
redis.locking.url = redis://172.17.42.1:6379/2

# By default, the toolbar only appears for clients from IP addresses
# '127.0.0.1' and '::1'.
{% if server_debug_toolbar == true %}
debugtoolbar.hosts = 0.0.0.0/0
{% endif %}


[filter:proxy-prefix]
use = egg:PasteDeploy#prefix
scheme = https

[celery]
BROKER_URL = amqp://guest@172.17.42.1:5672//
CELERY_RESULT_BACKEND = amqp://guest@172.17.42.1:5672//

CELERY_TASK_SERIALIZER = json
CELERY_RESULT_SERIALIZER = json
CELERY_ACCEPT_CONTENT= json
CELERY_TIMEZONE = Europe/Zagreb
CELERY_ENABLE_UTC = True

###
# Celery beat tasks
###

[celerybeat:calculate_user_count]
task = sabor2015.tasks.facebook.calculate_user_count
type = crontab
schedule = {"minute": "*/1"}

[celerybeat:calculate_vote_count]
task = sabor2015.tasks.facebook.calculate_vote_count
type = crontab
schedule = {"minute": "*/1"}

[celerybeat:rematerialize_reach]
task = sabor2015.tasks.facebook.rematerialize_reach
type = crontab
schedule = {"minute": "0,5,10,15,20,25,30,35,40,45,50,55"}

[celerybeat:rematerialize_total_reach]
task = sabor2015.tasks.facebook.rematerialize_total_reach
type = crontab
schedule = {"minute": "1,6,11,16,21,26,31,36,41,46,51,56"}

[celerybeat:rematerialize_friend_votes]
task = sabor2015.tasks.facebook.rematerialize_friend_votes
type = crontab
schedule = {"minute": "2,7,12,17,22,27,32,37,42,47,52,57"}

[celerybeat:rematerialize_region_votes]
task = sabor2015.tasks.facebook.rematerialize_region_votes
type = crontab
schedule = {"minute": "2,7,12,17,22,27,32,37,42,47,52,57"}

[celerybeat:rematerialize_global_votes]
task = sabor2015.tasks.facebook.rematerialize_global_votes
type = crontab
schedule = {"minute": "2,7,12,17,22,27,32,37,42,47,52,57"}

[celerybeat:rematerialize_vote_in_time]
task = sabor2015.tasks.facebook.rematerialize_vote_in_time
type = crontab
schedule = {"minute": "3,8,13,18,23,28,33,38,43,48,53,58"}

[celerybeat:rematerialize_user_rank]
task = sabor2015.tasks.facebook.rematerialize_user_rank
type = crontab
schedule = {"minute": "4,9,14,19,24,29,34,39,44,49,54,59"}

###
# wsgi server configuration
###

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = %(http_port)s

###
# logging configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/logging.html
###

[loggers]
keys = root, sabor2015, sqlalchemy

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_sabor2015]
level = DEBUG
handlers =
qualname = sabor2015

[logger_sqlalchemy]
level = INFO
handlers =
qualname = sqlalchemy.engine
# "level = INFO" logs SQL queries.
# "level = DEBUG" logs SQL queries and results.
# "level = WARN" logs neither.  (Recommended for production systems.)

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s
