daemon off;
user nginx;
worker_processes 4;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx/nginx.pid;


events {
    worker_connections  1024;
    use epoll;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    {% if server_load_testing == false %}

    limit_req_zone $binary_remote_addr zone=req_limit_per_ip:10m rate=2r/s;
    limit_conn_zone $binary_remote_addr zone=conn_limit_per_ip:10m;
    {% endif %}

    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;

    keepalive_timeout 2;
    types_hash_max_size 2048;
    server_tokens off;

    client_body_timeout 5s;
    client_header_timeout 5s;
    client_max_body_size 1m;

    ##
    # Logging Settings
    ##
    access_log off;
    error_log /var/log/nginx/error.log;

    ##
    # Gzip Settings
    ##

    gzip on;
    gzip_disable "msie6";

    upstream pyramid-webapp {
        {% for i in range(6000, 6000 + app_number_web_backends) %}
            server 172.17.42.1:{{ i }};
        {% endfor %}
    }

    # HTTP server
    #
    server {
        listen 80;
        server_name sabor2015.hr;
        return 301 https://$server_name$request_uri;
    }

    # HTTPS server
    #
    server {
        listen 443;
        server_name sabor2015.hr;

        ssl on;
        ssl_certificate /etc/nginx/ssl/{{ nginx_certificate_file }};
        ssl_certificate_key /etc/nginx/ssl/{{ nginx_private_key_file }};

        ssl_session_timeout 5m;
        ssl_dhparam /etc/ssl/certs/dhparam.pem;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
        ssl_prefer_server_ciphers on;

        ssl_session_cache shared:SSL:10m;
        #add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";
        add_header X-Frame-Options DENY;
        add_header X-Content-Type-Options nosniff;
        #ssl_session_tickets off; # Requires nginx >= 1.5.9
        #ssl_stapling on; # Requires nginx >= 1.3.7
        #ssl_stapling_verify on; # Requires nginx => 1.3.7


        #add_header Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src 'self'; style-src 'self' 'unsafe-inline'; font-src 'self'; frame-src ; object-src 'none'";



        location  /static {
            {% if server_load_testing == false %}

            limit_req zone=req_limit_per_ip burst=15 nodelay;
            limit_conn conn_limit_per_ip 30;
            {% endif %}

            alias /app/sabor2015/static;
            autoindex on;
            expires max;
        }

        location / {
            {% if server_load_testing == false %}

            limit_req zone=req_limit_per_ip burst=15 nodelay;
            limit_conn conn_limit_per_ip 30;
            {% endif %}

            proxy_set_header        Host $http_host;
            proxy_set_header        X-Real-IP $remote_addr;
            proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header        X-Forwarded-Proto $scheme;

            client_max_body_size    1m;
            client_body_buffer_size 128k;
            proxy_connect_timeout   60s;
            proxy_send_timeout      90s;
            proxy_read_timeout      90s;
            #proxy_buffering         off;
            proxy_buffers 8 24k;
            proxy_buffer_size 4k;
            proxy_temp_file_write_size 64k;
            proxy_pass http://pyramid-webapp;
            proxy_redirect          off;
        }

        {% if server_password_secured == true %}

        # here comes the basic auth, after the options part
        auth_basic            'Restricted';
        auth_basic_user_file  /etc/nginx/sabor2015.htpasswd;
        {% endif %}

    }


}
