#logo {
  text-align: center;
  vertical-align: baseline;
  margin-top: 20px;
}

.header-logo {
  display: inline-block;
  height: auto;
  max-width: 100%;
  line-height: 1.42857;
  transition: all 0.2s ease-in-out 0s;
}

#login {
  vertical-align: baseline;
  margin-top: 20px;
}

.jumbotron {
  text-align: center;
}

.pagination-centered {
  text-align: center;
}

.text-disclaimer {
  text-align: justify;
}

.text-question {
  
}

.slider-row {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.map-label {
  position: absolute;
  width: 10px;
  font-size: 30px;
  font-family: "Times New Roman";
}


.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.y.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


path.slice{
  stroke-width:1px;
  stroke: black;
}

polyline{
  opacity: .5;
  stroke: black;
  stroke-width: 1px;
  fill: none;
}

