FROM {{ docker_pg_base_image }}:{{ docker_tag }}
MAINTAINER marin@kset.org

EXPOSE 5432

USER postgres

CMD ["/usr/lib/postgresql/9.4/bin/postgres",  "-D", "/var/lib/postgresql/9.4/main", "-c", "config_file=/etc/postgresql/9.4/main/postgresql.conf"]
