FROM {{ docker_pg_base_image }}:{{ docker_tag }}
MAINTAINER marin@kset.org

RUN DEBIAN_FRONTEND=noninteractive apt-get update # {{ docker_apt_update_date }}
RUN DEBIAN_FRONTEND=noninteractive apt-get install -y vim

# delete unnecessary stuff
RUN DEBIAN_FRONTEND=noninteractive apt-get clean autoclean
RUN DEBIAN_FRONTEND=noninteractive apt-get autoremove -y

CMD /bin/bash