FROM {{ docker_pyramid_base_image }}:{{ docker_tag }}
MAINTAINER marin@kset.org

RUN DEBIAN_FRONTEND=noninteractive apt-get update # {{ docker_apt_update_date }}
RUN DEBIAN_FRONTEND=noninteractive apt-get install -y vim
RUN DEBIAN_FRONTEND=noninteractive apt-get install -y libpq-dev
RUN DEBIAN_FRONTEND=noninteractive apt-get install -y gcc
RUN DEBIAN_FRONTEND=noninteractive apt-get install -y python-dev

# delete unnecessary stuff
RUN DEBIAN_FRONTEND=noninteractive apt-get clean autoclean
RUN DEBIAN_FRONTEND=noninteractive apt-get autoremove -y

COPY build_app_env /usr/local/bin/build_app_env
RUN chmod 755 /usr/local/bin/build_app_env

CMD /bin/bash