FROM {{ docker_pyramid_base_image }}:{{ docker_tag }}
MAINTAINER marin@kset.org

RUN DEBIAN_FRONTEND=noninteractive apt-get update # {{ docker_apt_update_date }}
RUN DEBIAN_FRONTEND=noninteractive apt-get install -y curl ca-certificates --no-install-recommends
RUN DEBIAN_FRONTEND=noninteractive apt-get install -y libpq-dev

# grab gosu for easy step-down from root
RUN gpg --keyserver ha.pool.sks-keyservers.net --recv-keys B42F6819007F00F88E364FD4036A9C25BF357DD4
RUN curl -o /usr/local/bin/gosu -SL "https://github.com/tianon/gosu/releases/download/1.6/gosu-$(dpkg --print-architecture)" \
	&& curl -o /usr/local/bin/gosu.asc -SL "https://github.com/tianon/gosu/releases/download/1.6/gosu-$(dpkg --print-architecture).asc" \
	&& gpg --verify /usr/local/bin/gosu.asc \
	&& rm /usr/local/bin/gosu.asc \
	&& chmod +x /usr/local/bin/gosu

EXPOSE 6000-6010

COPY entrypoint.sh /usr/local/bin/entrypoint.sh
RUN chmod 755 /usr/local/bin/entrypoint.sh

ENTRYPOINT ["/usr/local/bin/entrypoint.sh"]

WORKDIR /app

CMD ["supervisor"]
