*filter
# Default policy to drop 'everything' but our output to internet
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
:fail2ban-ReqLimit - [0:0]
:fail2ban-ssh - [0:0]
:DOCKER - [0:0]

# Allow established connections (the responses to our outgoing traffic)
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT

# Allow local programs that use loopback (Unix sockets)
-A INPUT -s 127.0.0.0/8 -d 127.0.0.0/8 -i lo -j ACCEPT

# Allow incoming SSH/SCP conections to this machine
-A INPUT -p tcp -m tcp --dport {{ server_ssh_port }} -m state --state NEW -j ACCEPT

# Allow incoming HTTPS conections to this machine
#-A INPUT -p tcp -m tcp --dport 443 -m state --state NEW -j ACCEPT

# Allow inter-container traffic on ports mapped on host docker0 address
-A INPUT -s 172.17.0.0/16 -d 172.17.42.1/32 -i docker0 -j ACCEPT

# Allow established connections (the responses to our outgoing traffic, and continuation of incomming traffic)
-A DOCKER -i {{ server_network_interface }} -m state --state RELATED,ESTABLISHED -j ACCEPT

# Enable connection to nginx in container HTTPS
-A DOCKER -i {{ server_network_interface }} -p tcp -m tcp --dport 443 -j ACCEPT

# Enable connection to nginx in containe HTTP
-A DOCKER -i {{ server_network_interface }} -p tcp -m tcp --dport 80 -j ACCEPT

# Drop other Docker traffix
-A DOCKER -i {{ server_network_interface }} -j DROP


#save rules
COMMIT
